{% extends "inicio.html" %}
{% load static %}

{% block titulo %}
    <h1>Autores</h1>
    <span class="subheading">Quienes suben contenido</span>
{% endblock %}


{% block contenidoQueCambia %}
    <h2>Autores buscados</h2>
{% endblock %}


{% block formulario %}
    {% if autores %}

        {% for autor in autores %}
            <ul>
            <li>{{ autor.nombre }} {{ autor.apellido }}</li>
            </ul>
        {% endfor %}

    {% else %}

        <p>No se encontraron autores con ese nombre</p>

    {% endif %}
{% endblock %}