{% extends "inicio.html" %}
{% load static %}


{% block titulo %}
    <h1>Autores Miembro</h1>
    <span class="subheading">Quienes suben contenido y tienen beneficios especiales</span>
{% endblock %}


{% block contenidoQueCambia %}
    <h2>Busqueda de autores miembro por nombre</h2><br>
    {{ mensaje }}
{% endblock %}


{% block formulario %}
    <form action="{% url 'autores_miembro_buscado' %}" method="GET">

        <input type="text" name="nombre" id="nombre">

        <input type="submit" value="Enviar">

    </form>
{% endblock %}