{% extends "inicio.html" %}
{% load static %}


{% block titulo %}
    <h1>Publicaciones</h1>
    <span class="subheading">Para el contenido de los autores</span>
{% endblock %}


{% block contenidoQueCambia %}
    <h2>Busqueda de publicaciones por titulo</h2><br>
    {{ mensaje }}
{% endblock %}


{% block formulario %}
    <form action="{% url 'publicaciones_buscado' %}" method="GET">

        <input type="text" name="titulo" id="titulo">

        <input type="submit" value="Enviar">

    </form>
{% endblock %}