{% extends "inicio.html" %}
{% load static %}

{% block titulo %}
    <h1>Publicaciones</h1>
    <span class="subheading">Para el contenido de los autores</span>
{% endblock %}


{% block contenidoQueCambia %}
    <h2>Publicaciones buscadas</h2>
{% endblock %}


{% block formulario %}
    {% if publicacion %}

        {% for info in publicacion %}
            <ul>
            <li>{{ info.titulo }} {{ info.fecha }}</li>
            </ul>
        {% endfor %}

    {% else %}

        <p>No se encontraron autores con ese nombre</p>

    {% endif %}
{% endblock %}